/*** CSS FILE GROEP13 ***/
/*** FONTS ***/
@font-face{
	font-family: Oduda;
    src: url(../fonts/Oduda-Bold-Demo.otf);
}
@font-face{

	font-family: Nexa;
    src: url(../fonts/NexaRustHandmade-Extended.otf);
}
@font-face{

	font-family: NexaRust;
    src: url(../fonts/NexaRustSans-Black.otf);
}
@font-face{

	font-family: NexaScript;
    src: url(../fonts/NexaRustScriptL-0.otf);
}
@font-face{

	font-family: Gagalin;
    src: url(../fonts/gagalin.ttf);
}
@font-face{

	font-family: Kelson;
    src: url(../fonts/Kelson Sans Regular.otf);
}
@font-face{

	font-family: Prime;
    src: url(../fonts/Prime Regular.otf);
}
@font-face{

	font-family: NexaBig;
    src: url(../fonts/NexaRustSlab-BlackShadow01.otf);
}
@font-face{

	font-family: Aileron;
    src: url(../fonts/Aileron-ThinItalic.otf);
}
@font-face{

	font-family: AileronLight;
    src: url(../fonts/Aileron-UltraLight.otf);
}
@font-face{

	font-family: AileronHeavy;
    src: url(../fonts/Aileron-Heavy.otf);
}
@font-face{

	font-family: Pier;
    src: url(../fonts/pier-regular.otf);
}
/*** START BASIC CSS ***/
body{
	/*background-color: #F0FFFF;*/
	overflow-y: scroll;
	overflow-x: hidden;
	width:100%;
	font-family: AileronHeavy;
}
h1{
	font-family: Aileron;
}
p{
	font-family: AileronLight;
	font-size: 20px;
}
.centered{
	text-align: center;
}
.border{
		/*border: 1px solid black;*/
}
.borderleft{
		border-left: 2px solid black;
}
/*** NAVIGATIE ***/

/* Effect 21: borders slight translate - http://tympanus.net/Development/CreativeLinkEffects/ */
.cl-effect-21 li {
	color: #237546;
	font-weight: 1;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-21 li::before,
.cl-effect-21 li::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 3px;
	background: black;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 li::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 li::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-21 li:hover,
.cl-effect-21 li:focus {
	color: #fff;
}
.cl-effect-21 li:hover a{
	color:black;
}

.cl-effect-21 li:hover::before,
.cl-effect-21 li:focus::before,
.cl-effect-21 li:hover::after,
.cl-effect-21 li:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.banner{
	width:100%;
}
.nav li{
	
	padding: 15px 0px;
	font-family: NexaScript;
}
.nav li:hover{
	

}
.nav-background{

}
.topnav{
	margin-bottom: -20px;
}
.navbar-left{
	padding-top: 0px;

}
.navbar-right{
	padding-top: 0px;

}
.navbar-toggle{
	margin-top:12px;
	padding:18px 30px;
}
.navbar-brand{
	padding: 0;
	margin: 0;
	margin-left: -35px;
}

.dutch_flag:hover{
	background:url(../img/Taal/Dutch_Flag.png);
	background-repeat: no-repeat;
	background-size: 100% 100%; 
}
.dutch_flag:hover a{
	opacity:0;
}
.french_flag:hover{
	background:url(../img/Taal/French_Flag.png); 
	background-repeat: no-repeat;
	background-size: 100% 100%; 
}
.french_flag:hover a{
	opacity:0;
}
.icon-bar {
  color: white;
  border-color: white;
  background-color: grey;
}


#logoImg{
	height: 80px;
	width: 100px;
}

.control-label{
	font-size: 20px;
}


/* HOME PAGINA */
.prijs{
	height: 10%;
	width: 60%;
	margin: auto;
	padding: auto;
}
.speluitleg{
	text-align:center;
}
.prijsTitel{
	text-align: center;
}
/* Login */
.login-control{
		font-size:18px;
		text-align: center;
		width: 300px;
		height: 50px;
		margin-bottom: 20px;
}
.login-submit{
	
}
/* Circle "Speel mee"*/

.ch-grid {
	margin: 15px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 500px;
	height: 500px;
	display: inline-block;
	margin: 20px;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}

.ch-img-1 { 
	background-image: url(../img/Banana.jpg);
}

.ch-img-2 { 
	background-image: url(../img/2.jpg);
}

.ch-img-3 { 
	background-image: url(../img/3.jpg);
}
.ch-info {
	position: absolute;
	background: rgba(63,147,147, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}
.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 10px;
	padding: 20% 0 0 0;
	height: 25%;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}
.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	transition: all 1s ease-in-out 0.4s;
}
.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}
.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	transform: scale(1);
	opacity: 1;
}
.ch-item:hover .ch-info p {
	opacity: 1;
}
/*Speel mee knop*/ 

.btn-speel{
	font-size: 18px;
	margin: 5%;
}
.form-signin{
	margin-top:40%;
}
.form-signin-heading{
	margin-bottom:10%;
}
.form-input-login{
	
}
/* PRIJZEN PAGINA */
.prijzen{
	padding: 20px;
}
.prijs_img{
	padding: 15px;
}
/* RECEPTEN PAGINA */
.recepten{
	margin-bottom: 50px;
}
.recept_img{
	width: 200px;
	padding: 30px;
}
.lijst{
	padding-left: 0%;
}

/* PROFIEL PAGINA */
.profiel_dim{
	margin-top: 25px;
}
.profiel_nav{
	padding-right: 20px;
}
.select-size{
	font-size: 20px;
}
/* CONTACT PAGINA */

@media (max-width: 320px)
{
 body{
	background-color: red;
}
.navbar-left{
	font-size: 140%;
}
.navbar-right{
	font-size: 110%;
	
}
}

@media (min-width: 321px) and (max-width: 1000px)
{
	 body{
	background-color: green;
}
.navbar-left{
	font-size: 160%;
}
.navbar-right{
	font-size: 150%;
	padding-right: 0%;
}

}

@media (min-width: 1000px) and (max-width: 1400px)
{
	 body{
	background-color: blue;
}
.navbar-left{
	font-size: 220%;
}
.navbar-right{
	font-size: 200%;
}


}

@media (min-width: 1400px)
{
 body{
	background-color: yellow;	
}
.navbar-left{
	font-size: 250%;
}
.navbar-right{
	font-size: 200%;
}




}


